{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/dashboard-user.css">
{% endblock %}

{% block content %}
<section class="section-dashboard-user uk-container">

    <h2>Enregistrer votre contenu pour la date de votre choix</h2>
    <form action="" method="POST" class="form-dashboard">

        <div class="input-form-dashboard">
            <label for="generer">Voulez-vous générer votre contenu aléatoirement ?</label>
            <button type="button" class="btn-dashboard-form uk-button uk-button-default" name="generer" id="generer" onclick=test()>Générer</button>
        </div>

        <div class="input-form-dashboard">
            <label for="recette">Votre recette du jour</label>
            <textarea type="text" class="uk-textarea" name="recette" id="recette" rows="6"></textarea>
        </div>

        <div class="input-form-dashboard">
            <label for="cadeau">Votre cadeau pourri</label>
            <input type="text" class="uk-input" name="cadeau" id="cadeau">
        </div>

        <div class="input-form-dashboard">
            <label for="blague">Votre meilleure blague</label>
            <textarea type="text" class="uk-textarea" name="blague" id="blague" rows="3"></textarea>
        </div>

        <div class="input-form-dashboard">
            <label for="film">Votre film</label>
            <input type="text" class="uk-input" name="film" id="film">
        </div>

        <div class="input-form-dashboard">
            <label for="date">Date du calendrier de l'avent</label>
            <input type="date" class="uk-input" name="date" id="date">
        </div>

        <div class="input-form-dashboard" uk-form-custom>
            <input type="file" aria-label="Custom controls">
            <button class="btn-dashboard-form uk-button uk-button-default" type="button" tabindex="-1">Select</button>
            <label for="">Enregistrer votre image</label>
        </div>

        <div class="input-form-dashboard">
            <button type="submit" class="uk-input">Enregistrer</button>
        </div>
    </form>
</section>

{% endblock %}