{% extends 'layout.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block content %}
<section class="section-dashboard-user uk-container">

    <h2>Enregistrer votre contenu pour la date de votre choix</h2>
    <form action="" method="POST" class="form-dashboard">

        <div class="input-form-dashboard">
            <label for="generer">Voulez-vous générer votre contenu aléatoirement ?</label>
            <button type="button" class="btn-dashboard-form uk-button uk-button-default" name="generer" id="generer" onclick=generateContent()>Générer</button>
        </div>

        <div class="input-form-dashboard">
            <label for="title_recipe">Idée de recette</label>
            <input type="text" name="title_recipe" id="title_recipe" class="uk-input">
        </div>

        <div class="input-form-dashboard">
            <label for="cadeau">Idée de cadeau pourri</label>
            <input type="text" class="uk-input" name="cadeau" id="cadeau">
        </div>

        <div class="input-form-dashboard">
            <label for="blague">Idée de meilleure blague</label>
            <textarea type="text" class="uk-textarea" name="blague" id="blague" rows="3"></textarea>
        </div>

        <div class="input-form-dashboard">
            <label for="film">Idée de film</label>
            <input type="text" class="uk-input" name="film" id="film">
        </div>

        <div class="input-form-dashboard">
            <label for="date">Date du calendrier de l'avent</label>
            <input type="date" class="uk-input" name="date" id="date" min="2023-12-01" max="2023-12-24">
            {% if erreurs is defined %} {{erreurs.date}}{% endif %}
            {% if erreurs is defined %} {{erreurs.emptyDate}}{% endif %}
        </div>

        <div class="input-form-dashboard">
            <button type="submit" class="uk-input">Enregistrer</button>
        </div>
    </form>
</section>

{% endblock %}