{% extends 'layout.html.twig' %}
{% block content %}

{% for i in 0..24 %}
<section class="container">
  <div class="cube">
    <div class="face front">
      <p>{{i+1}}</p>
    </div>
    <div class="face back">
    </div>
    <div class="face right"></div>
    <div class="face left"></div>
    <div class="face top"></div>
    <div class="face bottom"></div>
  </div>
  </section>
{% endfor %}

{% endblock %}
