<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/style.css">
    {% endblock %}

</head>
<body>
    <main class='body-404'>
        <a href="/"><button class="bouton-404">Revenir sur une page bien Carrey</button></a>
    </main>
</body>
</html>