section.section-dashboard-user {
    background-color:#6FD7A3;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

div.input-form-dashboard {
    margin-top: 2rem;
}

.form-dashboard {
    width: 50rem;
    justify-self: center;
}

div.input-form-dashboard label {
    font-size: 1.5rem;
}

button.btn-dashboard-form {
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;

}

button.btn-dashboard-form:hover {
    background-color: #FD4755;

}