<div class="uk-container uk-position-center uk-flex-column">
	<div id="modal-center-3" class="uk-flex-top pop-up modal-center-1" uk-modal>
		<div class="uk-modal-dialog container uk-modal-body uk-margin-auto-vertical div_user">
			<button class="uk-modal-close-default" type="button" uk-close></button>
			<h1>Réinitialisation du mot de passe</h1>
			<div class="line"></div>
			<form class='user-form' id='forgot' method="POST">
				<div class="uk-margin">
					<div class="uk-inline">
						<span class="uk-form-icon" uk-icon="icon: user"></span>
						<input class="uk-input" type="text" aria-label="Not clickable icon" name="emailF" placeholder="Votre email" id="errorEmailForgot"/>
					</div>
				</div>
				<div class="uk-margin">
					<div class="uk-inline">
						<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
						<input class="uk-input" type="password" aria-label="Not clickable icon" name="passwordF" placeholder="Mot de passe"/>
					</div>
				</div>

				<input class="uk-button uk-button-default" type="submit"/>
			</form>
			<div class="line"></div>
			<h4>
				Vous possédez déjà un compte ? Merci de vous
				<a href="#modal-center-1" data-uk-toggle="#modal-center" uk-toggle>connecter.</a>
			</h4>
		</div>
	</div>
</div>
