<div class="uk-container uk-position-center">
	<div id="modal-center-2" class="uk-flex-top pop-up modal-center-2" uk-modal>
		<div class="uk-modal-dialog container  uk-modal-body uk-margin-auto-vertical div_user">
			<button class="uk-modal-close-default" type="button" uk-close></button>
			<h1 class='uk-text-center'>Inscription</h1>
			<div class="line"></div>
			<form class='user-form' id="signin" method="post">
				<div class="uk-margin">

					<input class="uk-input" name="firstname" type="text" placeholder="Prénom" id="errorFirstname">
				</div>
				<input class="uk-input" name="email" type="mail" placeholder="Email" id="errorEmail">
				<div class="uk-margin">
					<input class="uk-input" name="password" type="password" placeholder="Mot de passe" id="errorPassword">
				</div>
				<div class="uk-margin">
					<input class="uk-button uk-button-default" type="submit" value="inscription"/>
				</div>
			</form>
			<div class="line"></div>
		</div>
	</div>
</div>
