
<nav class="navbar ">
    <ul class="ul-nav uk-navbar-nav">
        <li><a class="a-nav" href="/">Accueil</a></li>
        <li><a class="a-nav" href="login">Login</a></li>
    </ul>
    <div class="div-line">
        <div class='line-nav-left'></div>
        <div class='line-nav-right'></div>
    </div>
</nav>
    <div class="div-line">
        <div class='line-nav-left-out'></div>
        <div class='line-nav-right-out'></div>
    </div>
 
<li class='img-logo'>
    <img  src="/assets/images/logo-pere-noel.png" alt="logo-pere-noel" width="90px">
</li>