<nav class="navbar ">
	<ul class="ul-nav uk-navbar-nav">
		<li>
			<a class="a-nav" href="/">Accueil</a>
		</li>

		{% if session.islogin == true %}
			<div class='uk-flex'>
				<li>
					<a class="a-nav uk-margin-right" href="logout">Logout</a>
				</li>
				<li>
					<a class="a-nav" href="dashboard">Dashboard</a>
				</li>
			</div>
		{% else %}
			<li>
				<a class="a-nav" href="#modal-center-1" data-uk-toggle="#modal-center" uk-toggle>Login</a>

			</li>
		{% endif %}
	</ul>
	<div class="div-line">
		<div class='line-nav-left'></div>
		<div class='line-nav-right'></div>
	</div>
</nav>
<div class="div-line">
	<div class='line-nav-left-out'></div>
	<div class='line-nav-right-out'></div>
</div>

<li class='img-logo'>	
	<audio id="easter" src="/assets/audio/yavuz.m4a"></audio>
	<a href="#modal-example" data-uk-toggle="#modal-center" uk-toggle><img id="logo" src="/assets/images/logo-pere-noel.png" alt="logo-pere-noel" width="90px"></a>
	<div id="modal-example" uk-modal>
		<div class="uk-modal-dialog uk-modal-body div_user uk-height-1-2 uk-width-1-2">
			<h2 class="uk-modal-title uk-text-center" >Bonnes fêtes de fin d'année</h2>
			<img src="assets/images/page404.jpg" id="yavuz" alt="">
		</div>
	</div>

</li>
